/* =========
Your custom styles go here
========= */
@import "reset.less";
@import "style.less";

h3, h2, p,{
	margin: 0 0;
}
ul, li {
	padding: 0;
}
// change f7 default set
.navbar {
	background-color: black;
	.icon-user, .icon-menu {
		color: #fff;
	}
}
.searchbar {
	background-color: #fff;
}

// index page
.media {
	.margin-top(40px); 
	.index{
		margin-bottom: 50px;
	}
	.title {		
		padding-left: 10px;
		.font-size(60px);
		color: #000;
		text-decoration: none;
		font-weight: 600;
	}
	.column {
		.info {
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
			span {
				display: block;
				position: absolute;
				bottom: 20px;
				left: 0;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
				box-sizing: border-box;
			}
			h2, p {
				color: #fff;
				text-shadow: 1px 1px 0 #000;
				display: block;
			}
			h2 {
				.font-size(50px);
			}
			p {
				.font-size(38px); 
			}
		}

	}
}

.sub-media {
	.title {
		padding-left: 10px;
		.font-size(55px);
		color: #000;
	}
	li {
		float: none;
		width: 100%;
		.height(406px);
		margin-bottom: 20px;
		img {
			float: left;
			margin: 0 10px;
			.width(276px);
			.height(406px);
		}
		a {
			padding-right: 6px;
			color: #00d573;
			font-weight: 600;
			max-width: 100%;
			white-space: wrap;
			overflow: hidden;
			
		}
		p {
			.font-size(38px);
			max-width: 100%;
			.height(42px);
			white-space: wrap;
			overflow: hidden;
			padding-right: 6px;
			font-weight: 300;
			text-overflow: clip;
		}
	}
}

.footer {
	height: 44px;
	width: 100%;
	box-sizing: border-box;
	font-size: 17px;
	position: relative;
	margin: 0;
	z-index: 500;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	background: linear-gradient(to top right, #2455a9, #00d573);
}

.detail {
	overflow: auto;
	position: relative;
	background: linear-gradient(to bottom right, #212b2d, #2f383d);
	box-sizing: border-box;
	padding-bottom: 60px;
	.shortcut_bar {
		padding: 10px 20px 10px 20px;
		background-color: rgba(0,0,0,0.6);
		width: 100%;
		.height(58px);
		li {
			display: inline-block;
			padding-right: 20px;
			padding-top: 0;
			.font-size(42px);
			color: #fff;
			opacity: 0.6;
		}
	}
	.poster {
		position: relative;
		width: 100%;
		.height(514px);
		.image_content {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			.backdrop {
				width: 100%;
				.height(520px);
				z-index: 1;
				overflow: hidden;
			}
			.poster_fade {
				.width(304px);
				.height(448px);
				position: absolute;
				left: 0;
				.bottom(-230px);
				margin-left: 20px;
				z-index: 4;
			}
		}		
	}
	.header {
		width: 100%;
		position: relative;
		bottom: 0;
		top: 0;
		float: none;
		box-sizing: border-box;
		.title {
			background-color: rgba(0,0,0,0.6);
			box-sizing: border-box;
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: 20px;
			text-align: left;			
		}
		.mobile_header {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			box-sizing: border-box;
			padding: 0 20px;
			z-index: 4;
			.content {
				padding: 20px 0;
			}
			.tv_series {
				.padding-left(340px);
				a {
					.font-size(55px);
					color: #fff;
				}
			}
		}
		.second_header {
			padding: 20px 20px 20px 20px;
			.score{
				width: 100%;
				height: 30px;
				margin-right: 10px;
				.font-size(38px);
				span {
					display: inline-block;
					color: #fff;
					margin-right: 20px;
				}
			}
		}
	}

	.intro {
		padding-left: 20px;
		padding-right: 20px;
		.title {
			.font-size(55px);
			color: #fff;
		}
		.main{
			margin-top: 10px;
			.font-size(40px);
			color: #fff;
		}
		.actor {
			.title {
				margin-top: 15px;
			}
			.actor_wrapper {
				display: flex;
				li {
					list-style-type: none;
					.font-size(38px);
					flex: 1 1 auto;
					img{
						width: 66px;
						height: 66px;
						border-radius: 50%;
					}
					.real_name {
						color: #b28506;
						font-weight: bold;
					}
					.name {
						color: #fff;
					}
				}
			}
		}
	}
}
.more_data {
	background-color: #fff;
	.title {
		.font-size(55px);
	}
	padding: 0 20px;
	.detail_data {
		display: flex;
		.font-size(44px);
		.lay {
			margin-top: 10px;
			flex: 1 1 auto;
		}
	}
	.item {
		margin-top: 10px;
		span {
			padding: 4px 9px;
			background-color: #b28506;
			border-radius: 5px;
			.font-size(30px);
		}
	}
	.item_wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		span {
			margin-right: 4px;
			background-color: #ebebeb;
			border-color: #ebebeb;
			color: #000;
		}
	}
}